body {
	--MAIN_COLOR: #948667;
	--HOVER_COLOR: #796C50;
	font-family:"Roboto", sans-serif;

	a {
		text-decoration:none !important;
	}
	a:hover {
		color:inherit;
	}

	nav {
		background-color: var(--MAIN_COLOR);
		a {
			display:flex;
			justify-content:center;
			align-items:center;
			flex-direction:column;
			font-family:"Montserrat", sans-serif;
			color:white;
			padding:15px;
			font-size:20px;
			cursor:pointer;
			font-weight:bold;
			border:2px solid var(--HOVER_COLOR);
			border-top-width:12px;
			border-bottom-width:12px;
			transition:background-color 0.1s;
			span {
				font-size:30px;
				margin-bottom:15px;
			}
		}
		a:hover {
			background-color: var(--HOVER_COLOR);
			color:white;
		}
		a.active {
			background-color: var(--HOVER_COLOR);
			color:white;
		}
	}
}